@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
body {
  background-color: white;
}

.bg-dark {
  background-color: hsl(208deg, 96%, 7%) !important;
}

.bg-secondary-dark {
  background-color: white;
  border: 1px solid hsl(208deg, 96%, 7%) a;
  border-color: hsl(208deg, 96%, 7%);
}
.bg-secondary-dark a:hover {
  background-color: hsl(208deg, 96%, 7%);
  color: white;
}

.navbar {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}
.navbar .navbar-brand img {
  width: 2.5em;
  height: 2.5em;
}

.btn-primary {
  background-color: hsla(202deg, 89%, 51%, 0.65);
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  border-color: white;
  font-weight: 700;
}

.btn-primary:hover {
  background-color: hsl(202deg, 89%, 51%);
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  border-color: white;
}

.btn-secondary {
  background-color: white;
  font-family: "Source Sans Pro", sans-serif;
  color: hsl(208deg, 96%, 7%);
  border-color: white;
  font-weight: 700;
}

.btn-secondary:hover {
  background-color: hsl(208deg, 96%, 7%);
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  border-color: white;
}

.hero-banner {
  margin-bottom: 2em;
  background-color: hsl(202deg, 89%, 51%);
  background: url("../images/hero.webp") no-repeat center center/cover;
  /* height: 300px; */
  font-family: "Source Sans Pro", sans-serif;
  color: white;
}
.hero-banner .display-4 {
  color: white;
  font-weight: 700;
}
.hero-banner .lead .my-4 {
  font-weight: 400;
}
.hero-banner hr {
  border-top: 1px solid white;
}

.card-container {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
}
.card-container .card {
  margin-bottom: 1em;
  background-color: hsl(208deg, 96%, 7%);
}
.card-container .card .card-body .card-link {
  color: hsl(202deg, 89%, 51%);
  font-weight: 400;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: underline;
  display: inline;
  vertical-align: baseline;
}
.card-container .card ul {
  background-color: hsl(208deg, 96%, 7%);
}
.card-container .card ul li {
  color: hsl(208deg, 96%, 7%);
  background-color: white;
  text-align: left;
  border-top: 1px solid hsl(208deg, 96%, 7%);
  list-style-type: circle;
  display: list-item;
  list-style-position: inside;
}
.card-container .card-title {
  font-weight: 700;
}
.card-container hr {
  border-top: 1px solid white;
}

.modal {
  color: white;
  text-align: center;
}
.modal .modal-header h2 {
  font-size: 2em;
}
.modal .close {
  color: #fff;
  opacity: 1;
}
.modal .modal-content {
  background-color: hsl(208deg, 96%, 7%);
}
.modal .modal-content .btn-secondary {
  padding: 0.5em;
  background-color: white;
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
  color: hsl(208deg, 96%, 7%);
  border-color: white;
  font-weight: 700;
  font-size: 1em;
}
.modal .modal-content .btn-secondary:hover {
  background-color: hsl(208deg, 96%, 7%);
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  border-color: white;
}
.modal .modal-content a {
  color: hsl(202deg, 89%, 51%);
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */